/* Täyskokoiselle näytölle (yli 959) tarkoitetut tyylit */

.navi2016spacer {
	height: 20px;
	width: 20px;
	background-color:#000000;
	float:left;
}

.flashDesktop {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.flashDesktopAlt {
	display:none;
}

.flashDesktop img {
	width: 960px !important;
}

/*.flashDesktopAlt {
	display:none;
}*/

/* Rakenne, kuvat ja taustat */

.infoBox {
	float: right;
	width: 225px;
	border: 1px;
	border-style: dashed;
	border-color: black;
	margin-left: 5px;
	padding: 10px;
}

.infoBoxMobi {
	display: none;
}

.uusimmatImg {
	height:60px;
	width:60px;
	float:left;
}

.uusimmatKuva {
	height:60px;
	width:60px;
}

.uusimmatTxt {
	height:60px;
	width:420px;
	float:left;
	margin-left:20px;
	margin-top:10px;
}	
	
.uusimmatWrap {
	margin-bottom: 10px;
}

.mobimenuwrap {
	display:none;
}

.teemaBlogikuva {
	float:right;
	height:160px;
	width:160px;
}

.taustaTiiseri {
	margin-right:260px;
}

.teemaBlogikuva img {
	height:160px;
    width:160px;
}

.teemaUutiskuva {
	float:left;
	margin-right:10px;
	margin-top:10px;
	height:auto;
    width:250px;
}

#ylamainos {
	width: 960px;
	margin-top:30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

#ad_groups_1778 img {
	width: 960px;
	margin-top:0px;
	margin-bottom:-35px;
	margin-left: auto;
	margin-right: auto;
}

body {
	background:url('/sites/all/themes/lanka2014/images/Oma_Taustakuva.jpg')  no-repeat center top fixed;
	background-size: 100% auto;
	background-color: #f0f0f0;
}

#nimio {
	margin-left:auto;
	margin-right:auto;
	}
	
.logotabletti {
	display:none;
	}

#runko {
	width: 960px;
	margin-top: -12px;
	margin-bottom: 30px;
	background-color: white;
	margin-left:auto;
	margin-right:auto;
	}

#otsake {
	width: 960px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	}

#navi {
	width: 840px;
	margin-left:auto;
	margin-right:auto;
	}
	
#rakenne {
	overflow: hidden;
	width: 840px;
	margin-left:auto;
	margin-right:auto;
	}

#keski {
	width: 500px;
	float: left;
	padding:0;
	}

#alaosa {
	width: 500px;
	float: left;
	padding:0;
	}

#oikea {
	width: 280px;
	float: right;
	padding:0;
	}

#otsake {
	margin-left:auto;
	margin-right:auto;
	}

#pohja {
	width: 840px;
	}
	
.navitxt {
	height: 27px;
	width: auto;
	}

.eiVaakakuva {
	float: right;
	width: 245px;
	height: auto;
	}

.jooVaakakuva {
	width: 500px;
	height: auto;
	}

.node-wrap .user-picture img {
	margin-right: 0px;
	margin-bottom: 10px;
	margin-top: 0px;
	width:150px;
	height:150px;
	border-radius: 50%;
}

.blogaajantiedot {
	float: right;
	margin-left: 25px;
	margin-bottom: 10px;
	margin-top: 8px;
	width:150px;
	font-size: 0.8em;
}

.sisisKansikuva {
	float: right;
	margin-left: 5px;
	width: 150px;
	height: auto;
	}

.vaaka_wrap img {
	width: 500px;
	height: auto;
}

.kuva_wrap {
	float: right;
	width: 245px;
	margin-left:10px;
	}

.keitKuva img {
	width:240px;
	height:160px;
	float:right;
}

.keitTeksti {
	width:240px;
	margin-top:0px;
}

.teemaContainer {
    position:relative;
    height: 333px;
}

.teemaTitleImage {
  	position:absolute;
  	left:0;
    top:0;
    z-index:0;
}

.keitTitle {
    position:absolute;
    z-index:5;  
    left:20px;
    top:20px;
    width:200px;
	color:white;
}

.keitTitleText { 
	z-index:5;
	position:absolute;
    width:200px;
    left:20px;
    top:50px;
	color:white;
}

.taustTitleText {
	z-index:5;
	position:absolute;
    width:200px;
    left:20px;
    top:75px;
}

.taustTitle {
    position:absolute;
    z-index:5;  
    left:20px;
    top:20px;
    width:200px;
}

.uutiTitleText {
	z-index:5;
	position:absolute;
    width:200px;
    left:20px;
    top:50px;
}

.uutiTitle {
    position:absolute;
    z-index:5;  
    left:20px;
    top:20px;
    width:200px;
}

.yli500 {
	width:510px;
}

div.blogSetContainer {
    height:160px;
    width:160px;
    float: left;
    margin-right:10px;
    margin-bottom:10px;
}

.blogSet {
    position:relative;
}

.blogSet img {
    height:160px;
    width:160px;
}


div.blogSetOts {
	position:absolute;
	bottom:0;
	background-color: rgba(255,255,255,0.6);
    height:24%;
    width:100%;
}

div.blogSetOts h4 {
	opacity:0;
	font-size:0.1em;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
}

div.blogSet:hover .blogSetOts {
	position:absolute;
	bottom:0;
	background-color: rgba(255,255,255,0.6);
	height:100%
}

div.blogSet:hover h4 {
	opacity:1;
	font-size:0.9em;
}

.blogSetAuthor {
	font-family: 'Exo 2', Verdana, Arial, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 900;
	font-size: 13px;
	position:absolute;
	bottom:0;
	margin-left:10px;
	}

.transContainer {
    position:relative;
}

div.transBox {
	position:absolute;
	bottom:0;
	background-color: rgba(255,255,255,0.6);
}

.transBox p {
	color:black;
	margin-left:20px;
	margin-right:20px;
	opacity: 1;
    z-index:5;
    margin-bottom:20px;
}

.transTitle {
	font-size:1.5em;
	color:black;
	margin-bottom:-10px;
	margin-left:20px;
	margin-right:20px;
	opacity: 1;
    z-index:5;
}

.sitemapPara {
	width:33.3%;
	float:left;
}

.sitemap {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.tyrkkyBox {
	width:245px;
	float:left;
	margin-left:0px;
	margin-right:0px;
}

.tyrkkyMargin {
	float:left;
	width:10px;
	height:1px;
}

.tyrkkyCrop {
	width:245px;
	height:122px;
	overflow:hidden;
	margin-bottom: 5px;
}

.tyrkkyCrop img {
	width:245px;
	height:auto;
	/*margin-top:-50px;*/
}

.tyrkkyTxt a {
	font-size: 0.9em;
	font-weight: 400;
}

/* Tekstityylit */

.infoTxt {
	font-size: 0.75em;
	margin-bottom: 0px;
	}

.infoOts {
	font-size: 1em;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: -10px;
	}

#slogan {
	font-family: 'Merriweather', Courier, serif;
	font-size: 1.6em;
	text-transform: uppercase;
	line-height: 0%;
	margin-left:auto;
	margin-right:auto;
	}

.hakuwrap {
	margin-top: -5px;
}

h1 {
	font-size: 2.0em;
	}

h2 { /*uutisotsikko */
	font-size: 1.9em;
	}

h3 {
	font-size: 1.25em;
	}

h4 {
	font-size: 1.1em;
	}

h6 {
	font-size: 0.8em;
	}

.pager li {
        font-size:1.2em;
}

.pager a {
        text-decoration:none;
        font-size:1.2em;
}

.pager-ellipsis {
	display:none !important;
}

.pager-current {
    font-weight: bold;
    font-size: 22px !important;
}

/* Lomake */

div.form-item.form-type-textfield.form-item-etunimi {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-sukunimi {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-postinumero {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-postitmp {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-puhelin {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-sahkoposti {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-uusi-etunimi {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-uusi-sukunimi {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-uusi-puhelin {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-uusi-sahkoposti {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-saaja-etunimi {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-saaja-sukunimi {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-saaja-postinumero {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-saaja-postitmp {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-saaja-puhelin {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-saaja-sahkoposti {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-uusi-postinumero {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-uusi-postitmp {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-muutos-postinumero {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-muutos-postitmp {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-peruutus-postinumero {
	width:240px;
	float:left;
}

div.form-item.form-type-textfield.form-item-peruutus-postitmp {
	width:240px;
	float:left;
}

.navihaku .form-text {
	width:140px;
	height:16px;
	font-size:0.5em;
	float:right;
	margin-right:-1px;
	margin-top:-2px;
	font-family: 'Merriweather';
}

.navihaku .form-submit {
	width: 17px;
	height: 17px;
	float: right;
	margin-top: 2px;
	margin-right: -145px;
}

.navi2016txt {
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color:#ffffff;
}

.navi2016 {
	height: 20px;
	background-color:#000000;
	padding:8px;
}

.navi2016button {
	height: 20px;
	background-color:#000000;
	float:left;
}

#mce-success-response {
font-size:2em;
}

.authPara {
	margin-top: -8px; }

#edit-delete {
	display:none;
}

#edit-preview {
	display:none;
}

#quizKansi {
	margin-left:auto;
	margin-right:auto;
}

.quizBox {
    border: 3px solid green;
    text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	width:240px;
	padding:15px;
}

.quizBox p {
    font-family:Arial;
	font-size:16px;
	font-weight:700;
}

.quizFaceMin {
	height: 65px;
	width: auto;
}

.quizFaceMax {
	float: left;
	width: 40%;
	height: auto;
}

.quizTulosTxt {
	font-family:Arial;
	font-size:12px;
	font-weight:700;
}

.quizKansi {
	width:40%;
	height: auto;
	float:left;
}

.quizVastaus {
	float:right;
	width:55%;
}

.quizNappi {
	float:left;
}

.quizNimi {
	font-family:Arial;
	font-size:12px;
	font-weight:700;
	text-align: center;
}

/* Peejiikone */

.pjSelite {
	width: 16%;
	float: left;
	text-align: center;
	margin-right:2%;
	font-family:Arial;
	font-size:10px;
	line-height:10px;
	margin-bottom:5px;
	padding:1px;
	margin-top:-10px;
}

.ehdokasBoksi {
	background-color: #EEEEEE;
    border-radius:5px;
    padding: 10px;
}

#jakoNappi {
	background-color: #00FF00;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    font-family:Arial;
    font-size: 14px;
    width:36%;
    padding:10px;
}

.pjTulosTxt {
	font-size:1.2em;
	line-height:1em;
	width:100%;
	margin-left:0px;
	margin-right:auto;
}

.ehdokasNimi {
	font-size:2em;
	font-weight:700;
	line-height:1em;
	margin-top:-10px;
	margin-bottom:10px;
	width:100%;
	margin-left:0px;
	margin-right:auto;
}

.pjRankOts {
	margin-top:10px;
}

.pjRank {
	width:100%;
	margin-left:0px;
	margin-right:auto;
}

.pjEhdKuva {
	float:right;
	width:40%;
	height:auto;
}

#pjEhdKuva1 {
	display:none;
}

#pjEhdKuva2 {
	display:none;
}

#pjEhdKuva3 {
	display:none;
}

#pjEhdKuva4 {
	display:none;
}

#pjEhdKuva5 {
	display:none;
}

#pjEhdKuva6 {
	display:none;
}

#pjEhdKuvaX {
	display:none;
}

#pjEhdKuvaY {
	display:none;
}

.pjLaskeNappi {
	background-color: #00FF00;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:Arial;
    font-size: 16px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    border-radius:5px;
    width:60%;
}

.pjVastaukset {
	margin-top:10px;
	display:none;
}

.nieluVastaukset {
	margin-top:10px;
}

.pjVastBox {
	width: 16%;
	height: 30px;
	float: left;
	text-align: center;
	margin-right:2%;
	padding:1px;
	position:relative;
}

.pjVastPallo {
	border-radius: 20px;
	width: 25px;
	height: 15px;
	margin-top:3px;
	margin-right:auto;
	margin-left:auto;
	background-color:#00FF00;
	text-align:center;
	font-family:Arial;
	font-size:12px;
	padding:2px;
}

.nieluPallo {
	border-radius: 20px;
        width: 25px;
        height: 15px;
        margin-top:3px;
        margin-right:auto;
        margin-left:auto;
        text-align:center;
        font-family:Arial;
	font-weight:700;
        font-size:12px;
        padding:2px;
}

.nieluPalloPol {
	background-color:#E8DCB9;
}

.nieluPalloTut {
	background-color:#C3DBC5;
}

.nieluPalloEtu {
	background-color:#F2CEE6;
}

.nieluPallo .nieluTark {
        visibility:hidden;
        width:200px;
        background-color:black;
        color:#FFFFFF;
        font-family:Arial;
        font-size:12px;
	font-weight:400;
        line-height:14px;
        text-align: left;
        padding: 5px;
        border-radius: 5px;
        position: relative;
        z-index:100;
        top:5px;
}

.nieluPallo .nieluTark5 {
        left:-170px;
}

.nieluPallo .nieluTark4 {
        left:-100px;
}

.nieluPallo .nieluTark3 {
        left:-100px;
}

.nieluPallo:hover .nieluTark {
        visibility:visible;
}

.pjVastPallo .pjTark {
	visibility:hidden;
	width:200px;
	background-color:black;
	color:#FFFFFF;
	font-family:Arial;
	font-size:12px;
	line-height:14px;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	position: relative;
	z-index:100;
	top:5px;
}

.pjVastPallo .pjTark1 {
	left:-170px;
}

.pjVastPallo .pjTark2 {
	left:-100px;
}

.pjVastPallo .pjTark3 {
	left:-100px;
}

.pjVastPallo:hover .pjTark {
	visibility:visible;
}

.ehdokasBoksi {
	display:none;
}

.pjVaite {
	font-size:1.2em;
	width:100%;
	margin-left:0px;
	margin-right:auto;
}

.ekaVaite {
	margin-top:20px;
}

.muuVaite {
	margin-top:60px;
}

.pjNappi {
	width: 16%;
	height: 30px;
	float: left;
	border: 1px solid black;
	text-align: center;
	margin-right:2%;
	font-family:Arial;
	font-size:20px;
	font-weight:400;
	line-height:26px;
}

.opt1 {
	display:none;
}

.opt1:checked + label .pjNappi {
	color:white;
	background-color:#00FF00;
}

.opt2 {
	display:none;
}

.opt2:checked + label .pjNappi {
	color:white;
	background-color:#00FF00;
}

.opt3 {
	display:none;
}

.opt3:checked + label .pjNappi {
	color:white;
	background-color:#00FF00;
}

.opt4 {
	display:none;
}

.opt4:checked + label .pjNappi {
	color:white;
	background-color:#00FF00;
}

.opt5 {
	display:none;
}

.opt5:checked + label .pjNappi {
	color:white;
	background-color:#00FF00;
}

/* Kaikilla näytöillä käytettävät tyylit */

/* Rakenne */

table {
  border-collapse: separate;
}

.node_wrap {
	width: 100%;
	}

#uusin {
	margin-left: 0px;
	}
	
#twitter {
		width: 280px;
	}

#facebook {
		width: 280px;
	}
	
hr {
	background: black;
	border: 0;
	height: 1px;
	z-index: 5;
	}
	
.puolikas {
	margin-bottom: 10px;
	}

.seiskabreikki {
	margin-bottom: 4px;
}
	
.navitxt {
	margin-top: 0px;
	margin-bottom: 0px;
}

.juttutiedot {
	margin-top:5px;
	margin-bottom:-5px;
	line-height:95%;
}

.miniGalleria {
	width: 160px;
	margin-top: 0px;
	float: left;
}

#clear {
	clear:both;
	margin-top:0px;
	margin-bottom:0px;
}

.uutisListaGap {
	clear:both;
	margin-top:0px;
	margin-bottom:15px;
}

.muokkauslinkki a {
	margin-bottom: 0px;
	margin-top: 0px;
	text-transform: uppercase;
	text-decoration: none;
	color:red;
	font-size:0.8em;
}

.tilauslohkonalaviiva {
	margin-top: 12px;
}

.search-result {
	margin-left:-40px;
}

.taustatHr {
	margin-top: 22px;
	margin-bottom: 10px;
}

.vapaallaHr {
	margin-top: 10px;
	margin-bottom: 10px;
}

#tilausloota {
	margin-right: 0px;
	float: right;
	width: 100px;
	height: 62px;
	margin-top: 5px;
	background-color:#00cc00;
}

/* Kuvat */

.views-field-field-graafikuva img {
	width: 280px;
	height: auto;
}

.views-field-field-pilakuva img {
	width: 280px;
	height: auto;
}

#ad_groups_1777 img {
	width: 280px;
}

.navi2016logo {
	margin-top:3px;
	margin-left:3px;
	float:left;
}

.minikuva {
	width: 150px;
}

.uusikansi {
	float: right;
	width: 101px;
	height: 140px;
	}

.sivuBlogiKuva {
	margin-bottom:20px;
	width:100px;
	height:100px;
	float:right;
	}
	
.sivuBlogiKuva img {
	margin-bottom: 0px;
	margin-top: -20px;
	width:100px;
	height:100px;
	border-radius: 50%;
}

.tilauskuva {
	float: right;
	margin-left: 10px;
	margin-top: 15px;
	}

.yhtKuva {
	float: left;
	}

.field-name-taxonomy-vocabulary-3 {
	display:none;
	}

.statistics_counter {
	display:none !important;
	}

.arkistolehti {
	margin-right: 10px;
	float: left;
	}

.arkistolehti img {
    height:auto;
    width:117px;
	}

.juttuvinjetti {
	margin-bottom: 0px;
}

.infoboksi {
	margin-top: 8px;
}

.blogiTeaser {
        width:170px;
        }

/* Tekstityylit */

.arvioTeaser a {
	text-decoration: none;
	}

p {
	font-family: 'Merriweather';
	font-size: 0.85em;
	line-height: 1.4em;
	}

p a {
	color: black;
	text-decoration: underline;
	}
	
a {
	font-family: 'Merriweather';
	color: black;
	text-decoration: none;
	}
	
.tiiseri {
	margin-top:-6px;
}

.arvioVinj {
	float:right;
	margin-right: 0px;
	margin-left: 10px;
    height:100px;
    width:auto;
}

h1 { /* yleisotsikko */
	color: black;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 100%;
	}

h1 a {
	color: black;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 110%;
	text-decoration: none;
	}

h2 { /*uutisotsikko */
	font-weight: 400;
	/*letter-spacing:-1px;*/
	color: black;
	margin-top: 5px;
	margin-bottom: 0px;
	/*line-height: 110%;*/
	}

.esOts {
	margin-top: 10px;
	margin-bottom: -5px;
	}

h2 a {
	font-weight: 400;
	color: black;
	margin-top: 5px;
	margin-bottom: 0px;
	line-height: 110%;
	text-decoration: none;
	}

h2 a:hover {
	color: black;
	}

h3 {
	text-transform: uppercase;
	color: black;
	line-height: 90%;
	}
	
h3 a {
	text-transform: uppercase;
	color: black;
	line-height: 90%;
	margin-bottom: 0;
	margin-top: 0;
	}
	
.arkistoOts {
	margin-top:10px;
	margin-bottom:10px;
}

h4 {
	color: black;
	text-decoration: none;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0;
	/*line-height: 140%;*/
	}

h4 a {
	color: black;
	text-decoration: none;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0;
	/*line-height: 140%;*/
	}

.laOts {
	margin-top:10px;
	margin-bottom:10px;
	font-size:1.2em;
	}

h5 {
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0.5em;
	text-transform: uppercase;
	}

h5 a {
	color: black;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0.5em;
	text-transform: uppercase;
	text-decoration: none;
	}

.blogaaja {
	margin-top:5px;
	margin-bottom:-5px;
	font-size:0.7em;
	letter-spacing:1px;
	}

h6 {
	color: rgb(0,51,0);
	font-weight: 400;
	text-transform: uppercase;
	}
	
.kredPieni {
		text-align: right;
		margin-bottom:0px;
		margin-top:0px;
		font-weight: 400;
		font-size: 0.5em;
	color: rgb(0,51,0);
	text-transform: uppercase;
	}

.kredIso {
		text-align: right;
		margin-bottom:0px;
		margin-top: 0px;
		font-weight: 400;
		font-size: 0.5em;
	color: rgb(0,51,0);
	text-transform: uppercase;
	}

.moreLanka {
	color: black;
	text-decoration: none;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0;
	font-size: 1.1em;
	}

.moreLanka a {
	color: black;
	text-decoration: none;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0;
	}

field-content.listausOts a {
	font-size: 0.5em;	
}

ul {
	font-family: 'Merriweather', Arial, sans-serif;
	font-size: 0.9em;
	font-weight: 400;
	margin-top:0px;
	margin-left:-27px;
	}

ol {
	font-family: 'Merriweather', Arial, sans-serif;
	font-size: 0.9em;
	font-weight: 400;
	}

li {
	margin-bottom: 6px;
	margin-left: 0px;
	}

li a {
	text-decoration: none;
	color: #00cc00;
	}
	
.noprint li a {
	text-decoration: none;
	color: black;
	}
	
.field-content li a {
	text-decoration: none;
	color: black;
	}

.aloituslihavointi {
	font-weight: 400;
	text-transform: uppercase;
	font-style: normal;
	}

.aloituslihavointi a {
	text-decoration: none;
	font-weight: 400;
	text-transform: uppercase;
	}
	
.aikaleima {
	font-size: 0.8em;
	text-transform: uppercase;
	color: #00cc00;
	font-weight: 400;
	}

.vihrea {
	color: #00cc00;
	font-size: 1.0em;
	text-decoration: underline;
	}

.vihrealinkki {
	color: #00cc00;
	font-size: 0.85em;
	text-decoration: underline;
	}

#uusin p {
	font-size: 0.85em;
}

.avainsanat a {
	font-size: 0.7em;
	text-transform: uppercase;
	text-decoration: none;
}

.kursiivi {
	font-style: italic;
	}

.nimi {
	font-weight: 700;
	}
	
.katkaisulihavointi {
	font-weight: 700;
	}

.ingressi {
	font-weight: 400;
	font-size: 1.25em;
	}

.lehdenNumero {
	line-height: 1.2em;
	}
	
.uusimmatOts {
	font-size: 0.9em;
	text-decoration: none;
	font-family: 'Merriweather', Courier, serif;
	font-weight: 700;
	color: rgb(0,0,0);
	line-height: 0em;
	}

.uusimmatOts a {
	font-size: 1.1em;
	text-decoration: none;
	font-family: 'Merriweather', Courier, serif;
	font-weight: 700;
	color: rgb(0,0,0);
	line-height: 0em;
	}
	
.uusimmatPvm {
	font-size: 0.7em;
	text-transform: uppercase;
	text-align: right;
	color: #00cc00;
	font-weight: 400;
	}
	
.yhtTeksti {
	margin-left: 130px;
	}

.kayntikortti {
	width: 90%;
	}

.juttutiedot {
	margin-top:10px;
	margin-bottom:10px;
}

.author {
	text-transform: uppercase;
	text-decoration: none;
	margin-top:2px;
	font-weight: 400;
	font-size: 13px;
	}

.author a {
	text-transform: uppercase;
	text-decoration: none;
	}
	
.kuvaTekstiIso p {
	font-style: italic;
	margin-top:0px;
	margin-bottom:15px;
	font-size: 0.8em;
}

.kuvaTekstiPieni p {
	font-style: italic;
	font-size:0.8em;
}

.reseptilinkki {
	margin-bottom: 8px;
	font-size: 0.9em;
}

.eiViivaa a {
	text-decoration: none;
}

.taustaTiiseri {
	margin-top: 5px;
}

a:hover {
	color:black;
}

.uutisListaOts {
	margin-top: 8px;
	font-size: 16px;
}

.blogikuvaus {
	font-style:italic;
	margin-top:-5px;
	margin-bottom:10px;
}

.sitemap p {
	font-size:0.7em;
	text-transform: uppercase;
	line-height: 1.2em;
	text-align: center;
}

.sitemap p a {
	text-decoration: none;
	/*color: #00cc00;
	font-weight:700;*/
}

.tulostaulu {
	width:100%;
	border:0px;
}

.tableKesk {
	text-align:center;
}

.vihernuoli {
	color:#00cc00;
	font-size:14px;
}

.infotxt2016 {
	font-size:14px;
	text-transform: uppercase;
	letter-spacing:1px;
}

.tilauslootatxt {
	font-size:17px;
	text-transform: uppercase;
	color:#ffffff;
	text-align: center;
	line-height: 95%;
	margin-top: 8px;
}

/* Lomake */

select {
	width: 95%;
}

input {
	width: 95%;
    -webkit-border-radius:0; 
    border-radius:0;
}

input[type=checkbox], input[type=radio] {
	width: 4%;
}

input[type=submit] {
	width: 50%;
	font-size:1.2em;
}

div.form-item.form-type-textarea.form-item-terveiset {
	width:95%;
	float:left;
}

.hakuwrap .form-submit {
    width: 17px;
    height: 17px;
    float: right;
    margin-right: 0px;
    margin-top: -27px;
}

.hakuwrap .form-text {
	width:130px;
	font-size:0.8em;
	float:right;
	margin-right:20px;
	margin-top: -28px;
	border: 1px solid rgb(0,0,0);
}

label.option {
	display: block;
	margin-left: 30px;
	text-indent: 0px;
	margin-top: -17px;
}

#pohja {
        margin-left:auto;
        margin-right:auto;
        }

#pohja p {
        font-size:0.6em;
        color:white;
}

#pohja p a {
        color:white;
        text-decoration:none;
}

/*Seuraava piilottaa kentän, jonka tehtävänä on syöttää lehden numero palautemoduulille*/

.form-item-palaute-numero {
	display:none;
}

#palauteBox {
  visibility:hidden;
}

label.palaLab {
	display:block;
	cursor:pointer;
}

section {
  display:none;
}

input:checked + div section {
  display:block;
}

.palautenappi {
	background-color: #00cc00;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	width:260px;
	color: #FFFFFF;
	font-size:0.95em;
}

.tilausnappi {
	background-color: #00cc00;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	width:260px;
	color: #FFFFFF;
	font-size:0.95em;
	margin-bottom:5px
	}
	
.tilausnappi a {
	text-decoration:none;
	color:#FFFFFF;
	font-weight:700;
}

.tarjousboksi {
	background-color:yellow;
	padding: 20px;
	border: 2px dashed black;
}

.nextNappi {
	float:right;
}

figure {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0px;
    margin-right: 0px;
}

figcaption {
	display:none;
}

cite {
	display:none;
}

/* Editorinäkymän tyylit */

.node-juttu-form {
  font-size:0.8em;
}

#edit-taxonomy-vocabulary-2-und div[class*="form-item-taxonomy-vocabulary-2-und"] {
    margin-left:50px;
}

.form-item-taxonomy-vocabulary-2-und label {
    margin-left:30px !important;
}

.form-item-taxonomy-vocabulary-2-und-8 {
    margin-left:0px !important;
}

.form-item-taxonomy-vocabulary-2-und-6 {
    margin-left:0px !important;
}

.form-item-taxonomy-vocabulary-2-und-116 {
    margin-left:0px !important;
}

.form-item-taxonomy-vocabulary-2-und-28 {
    margin-left:0px !important;
}

.form-item-taxonomy-vocabulary-2-und-1210 {
    margin-left:0px !important;
}

.form-item-taxonomy-vocabulary-2-und-7 {
    margin-left:0px !important;
}

.form-item-taxonomy-vocabulary-2-und-162 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-849 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-86 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-144 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-251 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-272 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-1103 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-933 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-269 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-11 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-1757 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-857 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-1298 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-178 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-167 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-157 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-168 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-1237 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-141 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-10 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-769 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-30 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-39 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-40 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-233 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-1052 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-1057 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-1055 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-1056 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-257 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-85 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-229 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-169 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-146 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-143 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-817 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-1390 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-142 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-304 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-1082 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-126 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-41 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-128 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-129 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-236 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-176 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-182 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-189 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-188 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-183 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-184 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-187 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-45 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-1104 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-928 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-42 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-139 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-9 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-131 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-29 {
    display:none !important;
}

.form-item-taxonomy-vocabulary-2-und-27 {
    display:none !important;
}