.vaalikoneSelite {
	width: 16%;
	float: left;
	text-align: center;
	margin-right:2%;
	font-family:Arial;
	font-size:10px;
	line-height:10px;
	margin-bottom:5px;
	padding:1px;
	margin-top:-10px;
}

.vaalikoneTulosTxt {
	font-size:1.2em;
	line-height:1em;
	width:100%;
	margin-left:0px;
	margin-right:auto;
}

.ehdokasNimi {
	font-size:2em;
	font-weight:700;
	line-height:1em;
	margin-top:-10px;
	margin-bottom:10px;
	width:100%;
	margin-left:0px;
	margin-right:auto;
}

.laskeNappi {
	background-color: #00FF00;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:Arial;
    font-size: 16px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    border-radius:5px;
    width:60%;
}

.vaalikoneVastaukset {
	margin-top:10px;
	display:none;
}

.vaalikoneVastBox {
	width: 16%;
	height: 30px;
	float: left;
	text-align: center;
	margin-right:2%;
	padding:1px;
	position:relative;
}

.vaalikoneVastPallo {
	border-radius: 20px;
	width: 25px;
	height: 15px;
	margin-top:3px;
	margin-right:auto;
	margin-left:auto;
	background-color:#00FF00;
	text-align:center;
	font-family:Arial;
	font-size:12px;
	padding:2px;
}

.vaalikoneVastPallo .vaalikoneTark {
	visibility:hidden;
	width:200px;
	background-color:black;
	color:#FFFFFF;
	font-family:Arial;
	font-size:12px;
	line-height:14px;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	position: relative;
	z-index:100;
	top:5px;
}

.vaalikoneVastPallo .vaalikoneTark4 {
	left:-170px;
}

.vaalikoneVastPallo .vaalikoneTark3 {
	left:-100px;
}

.vaalikoneVastPallo:hover .vaalikoneTark {
	visibility:visible;
}

.ehdokasBoksi {
	display:none;
}

.vaalikoneVaite {
	font-size:1.2em;
	width:100%;
	margin-left:0px;
	margin-right:auto;
}

.ekaVaite {
	margin-top:20px;
}

.muuVaite {
	margin-top:60px;
}

.vaalikoneNappi {
	width: 16%;
	height: 30px;
	float: left;
	border: 1px solid black;
	text-align: center;
	margin-right:2%;
	font-family:Arial;
	font-size:20px;
	font-weight:400;
	line-height:26px;
}

.opt1 {
	display:none;
}

.opt1:checked + label .vaalikoneNappi {
	color:white;
	background-color:#00FF00;
}

.opt2 {
	display:none;
}

.opt2:checked + label .vaalikoneNappi {
	color:white;
	background-color:#00FF00;
}

.opt3 {
	display:none;
}

.opt3:checked + label .vaalikoneNappi {
	color:white;
	background-color:#00FF00;
}

.opt4 {
	display:none;
}

.opt4:checked + label .vaalikoneNappi {
	color:white;
	background-color:#00FF00;
}

.opt5 {
	display:none;
}

.opt5:checked + label .vaalikoneNappi {
	color:white;
	background-color:#00FF00;
}
	
hr {
	background: black;
	border: 0;
	height: 1px;
	z-index: 5;
	}

#clear {
	clear:both;
	margin-top:0px;
	margin-bottom:0px;
}

select {
	width: 95%;
}

input {
	width: 95%;
    -webkit-border-radius:0; 
    border-radius:0;
}

input[type=checkbox], input[type=radio] {
	width: 4%;
}

input[type=submit] {
	width: 50%;
	font-size:1.2em;
}